.categoryPageWrapper {
  border: 1px blue solid;
  max-width: 1500px;
  display: flex;
}

.cardArea {
  max-width: 1100px;
  border: 3px green solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}
