:root {
  --text-color: #222222;
  --light-gray: #EAEAEA;
}

.card {
  margin: 0;
  padding: 0;
  width: 250px;
  height: 330px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit:cover;
}

.card figcaption {
  background-color: var(--light-gray);
  height: 80px;
  line-height: 40px; /* set this so text centers vertically */
  padding: 0px 15px;
  font-size: 1.2em;
  text-align: center;
}

figcaption .productTitle {
  /* the lines to show are to get the "..." string on overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: red;
}

figcaption .productInfo {
  /* the lines to show are to get the "..." string on overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: blue;
}


.link {
  color: var(--text-color);
}
.link:hover {
  text-decoration: none;
}
