.sideBar {
  min-width: 200px;
}

.sideBar a {
  font-weight: normal;
  min-width: 200px;
  font-family: "Roboto";
  font-style: light;
  font-weight: 300;
  color: var(--text-color);
}

.sideBar .active {
  color: var(--orange);
}

@media (max-width: 800px) {
  .sideBar {
    display: none;
  }
}
