.headerDiv{
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: solid lightgray
}

.navigation{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
    list-style: none;
    gap:50px;
    justify-content: center;
}

.searchForm{
    width: 500px;
    border-radius: 10px;
    background-color: rgb(243, 236, 236);
    border-width: 1px;
}


a {
    text-decoration: none;
    color:orangered;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

.nav2 {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    justify-content: center;
}

.Oney {
    font-weight: bolder;
}

.hiUser{
    color:orangered;
    font-weight: bold;
}
